/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
body{
    font-family: "Fredoka", sans-serif;
}

.container{
    width: 75rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 3.125rem;
}

/* SECTION TEAM */
#team > h1{
    font-size: 3.125rem;
    color: #E53170;
}

#team > p{
    margin: 1.875rem 0;
}

/* Team Container */
.team-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.875rem;
}

.team-card{
    display: flex;
    background-color: black;
    color: white;
    text-align: left;
    align-items: center;
    width: 21.875rem;
    gap: 1.25rem;
}

.card-image img{
    height: 6.25rem;
    display: block;
}

.card-description span{
    display: block;
}

.card-description > span{
    margin: .3125rem 0;
}

.card-description span:last-child{
    color: #6ECBF2;
}


