/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* GENERAL */
body{
    font-family: "Fredoka", sans-serif;
}

.container{
    width: 75rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.875rem;
}



/* SECTION TEAM */
#team > h1{
    font-size: 3.125rem;
    color: #E53170;
}

#team > p{
    margin: 1.875rem 0;
}



/* Team Container */
.team-container{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    row-gap: 1.875rem;
}

.team-card{
    display: flex;
    background-color: black;
    color: white;
    text-align: left;
    align-items: center;
    width: 21.875rem;
    gap: 1.25rem;
}

.card-image img{
    height: 6.25rem;
    display: block;
}

.card-description span{
    display: block;
}

.card-description > span{
    margin: .3125rem 0;
}

.card-description span:last-child{
    color: #6ECBF2;
}



/* Section Form */
#section-form{
    margin-top: 1.875rem;
    color: #369eca;
}

#team-form{
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team-form input{
    display: block;
    margin-bottom: 1.25rem;
    width: 300px;
    height: 1.875rem;
    border-radius: .3125rem;
    border: .1875rem solid #6ECBF2;;
}

#team-form button{
    margin-top: 1.25rem;
    display: block;
    height: 1.875rem;
    border-radius: .3125rem;
    border: none;
    background-color: #6ECBF2;;
    padding: .5rem .625rem;
}



/* RESPONSIVE */
/* Da 1200px a 0 */
@media screen and (max-width: 1200px){
    .container{
        width: 56.25rem;
    }

    .team-card{
        width: 25rem;
    }
}

/* Da 880px a 0 */
@media screen and (max-width: 880px){
    .container{
        width: 40.625rem;
    }

    .team-card{
        width: 18.75rem;
    }
}

/* Da 650px a 0 */
@media screen and (max-width: 650px){
    .container{
        width: 28.125rem;
    }

    .team-card{
        width: 28.125rem;
    }
}